
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4; 
    height: 100vh;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    background-color: rgba(255, 253, 253, 0.9);
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}


.logo img {
    width: 80px; 
    height: auto;
}


nav {
    display: flex;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover {
    background-color: #f0f0f0;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 200px;
    left: 50%; 
    transform: translateX(-50%); 
}

.dropdown-content a {
    padding: 10px 15px;
    color: #333; 
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px; 
    padding-bottom: 50px; 
    box-sizing: border-box;
}


h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}


.calculator-box {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px; 
}


.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.calculator-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.calculator-button:hover {
    background-color: #0056b3;
}


#brickForm, #loftForm, #paintForm, #tileForm, #suggestionsForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px; 
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


#result {
    margin-top: 10px; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    max-width: 300px; 
    box-sizing: border-box;
}

#bricksNeeded,
#loftVolume,
#paintNeeded,
#tilesNeeded {
    font-size: 1.2em;
    color: #000000; 
}


#suggestionsContainer {
    display: none; 
}

#suggestionsList {
    list-style: none;
    padding: 0;
}

#totalCost {
    font-weight: bold;
}


footer {
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}


.about-container {
    padding: 100px 20px 50px 20px; 
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.about-container h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.about-container p {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #666;
}
